<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ventas">
      <h2 data-cy="ventasDetailsHeading"><span jhiTranslate="tiendaApp.ventas.detail.title">Ventas</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ventas.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.ventas.precioFinal">Precio Final</span></dt>
        <dd>
          <span>{{ ventas.precioFinal }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.ventas.fechaVenta">Fecha Venta</span></dt>
        <dd>
          <span>{{ ventas.fechaVenta | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.ventas.idDispositivo">Id Dispositivo</span></dt>
        <dd>
          <div *ngIf="ventas.idDispositivo">
            <a [routerLink]="['/dispositivos', ventas.idDispositivo.id, 'view']">{{ ventas.idDispositivo.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ventas', ventas.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
