<div>
  <h2 id="page-heading" data-cy="PersonalizacionesHeading">
    <span jhiTranslate="tiendaApp.personalizaciones.home.title">Personalizaciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tiendaApp.personalizaciones.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-personalizaciones"
        [routerLink]="['/personalizaciones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tiendaApp.personalizaciones.home.createLabel"> Create a new Personalizaciones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personalizaciones?.length === 0">
    <span jhiTranslate="tiendaApp.personalizaciones.home.notFound">No Personalizaciones found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="personalizaciones && personalizaciones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="tiendaApp.personalizaciones.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="tiendaApp.personalizaciones.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dispositivos.id">
            <div class="d-flex">
              <span jhiTranslate="tiendaApp.personalizaciones.dispositivos">Dispositivos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let personalizaciones of personalizaciones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/personalizaciones', personalizaciones.id, 'view']">{{ personalizaciones.id }}</a>
          </td>
          <td>{{ personalizaciones.nombre }}</td>
          <td>{{ personalizaciones.descripcion }}</td>
          <td>
            <div *ngIf="personalizaciones.dispositivos">
              <a [routerLink]="['/dispositivos', personalizaciones.dispositivos.id, 'view']">{{ personalizaciones.dispositivos.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/personalizaciones', personalizaciones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/personalizaciones', personalizaciones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personalizaciones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
