<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="opciones">
      <h2 data-cy="opcionesDetailsHeading"><span jhiTranslate="tiendaApp.opciones.detail.title">Opciones</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ opciones.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.opciones.codigo">Codigo</span></dt>
        <dd>
          <span>{{ opciones.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.opciones.nombre">Nombre</span></dt>
        <dd>
          <span>{{ opciones.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.opciones.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ opciones.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.opciones.precioAdicional">Precio Adicional</span></dt>
        <dd>
          <span>{{ opciones.precioAdicional }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.opciones.personalizaciones">Personalizaciones</span></dt>
        <dd>
          <div *ngIf="opciones.personalizaciones">
            <a [routerLink]="['/personalizaciones', opciones.personalizaciones.id, 'view']">{{ opciones.personalizaciones.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/opciones', opciones.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
