<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personalizaciones">
      <h2 data-cy="personalizacionesDetailsHeading">
        <span jhiTranslate="tiendaApp.personalizaciones.detail.title">Personalizaciones</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ personalizaciones.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.personalizaciones.nombre">Nombre</span></dt>
        <dd>
          <span>{{ personalizaciones.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.personalizaciones.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ personalizaciones.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApp.personalizaciones.dispositivos">Dispositivos</span></dt>
        <dd>
          <div *ngIf="personalizaciones.dispositivos">
            <a [routerLink]="['/dispositivos', personalizaciones.dispositivos.id, 'view']">{{ personalizaciones.dispositivos.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/personalizaciones', personalizaciones.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
