<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ventas-heading" data-cy="VentasCreateUpdateHeading" jhiTranslate="tiendaApp.ventas.home.createOrEditLabel">
        Create or edit a Ventas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tiendaApp.ventas.precioFinal" for="field_precioFinal">Precio Final</label>
          <input
            type="number"
            class="form-control"
            name="precioFinal"
            id="field_precioFinal"
            data-cy="precioFinal"
            formControlName="precioFinal"
          />
          <div *ngIf="editForm.get('precioFinal')!.invalid && (editForm.get('precioFinal')!.dirty || editForm.get('precioFinal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioFinal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioFinal')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioFinal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tiendaApp.ventas.fechaVenta" for="field_fechaVenta">Fecha Venta</label>
          <div class="d-flex">
            <input
              id="field_fechaVenta"
              data-cy="fechaVenta"
              type="datetime-local"
              class="form-control"
              name="fechaVenta"
              formControlName="fechaVenta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fechaVenta')!.invalid && (editForm.get('fechaVenta')!.dirty || editForm.get('fechaVenta')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaVenta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaVenta')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="tiendaApp.ventas.idDispositivo" for="field_idDispositivo">Id Dispositivo</label>
          <select
            class="form-control"
            id="field_idDispositivo"
            data-cy="idDispositivo"
            name="idDispositivo"
            formControlName="idDispositivo"
            [compareWith]="compareDispositivos"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dispositivosOption" *ngFor="let dispositivosOption of dispositivosSharedCollection">
              {{ dispositivosOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
